<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977621770372-vhmjol56s47imgbgu6pn89bqmljvf8k0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977621770372-vhmjol56s47imgbgu6pn89bqmljvf8k0</string>
	<key>API_KEY</key>
	<string>AIzaSyDPgxSJDIWH1uvyWAB_VKlEgGB9GlVnqBc</string>
	<key>GCM_SENDER_ID</key>
	<string>977621770372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tecsup.SpotifyCloneB</string>
	<key>PROJECT_ID</key>
	<string>todoapp-3de66</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-3de66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977621770372:ios:db6f29037d30a28217a2d1</string>
</dict>
</plist>